form{
    position: absolute;
    top: 950px;
    right: 1000px;
}
#form{
    position: absolute;
   top: 1400px;
}
input{
    width: 100px;
    height: 20px;
}
label{
    font-size: 20px;
}
button{
    margin-top: 20px;
}