.total{
    display: flex;
    justify-content: space-around;
}
.order{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
    margin-left: 90px;
}
.price{
   margin-left:65%;
   position: relative;
   bottom:5px;
   
}
.order p{
    font-size: 30px;
}
.price p{
    font-size: 30px;
}
button{
    width:200px;
    height: 60px;
    margin-left:50px;
    background-color: rgb(0, 145, 255);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    
}
.ship{
    display: flex;
    width: 500px;
    justify-content: space-between;

}
/* container start */
.container td img{
    height: 200px;
    width: 300px;
    border-radius: 2px;
}
.container{
    margin: 80px auto;
}
/* container end */
/* table start */
table{
    width: 100%;
    border-collapse: collapse;
}
table label{
    display: none;
}
table caption{
    display: none;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: rgb(0, 145, 255);
    font-size: 25px;

}
td{
    padding: 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
tbody i{
    color: gold;
    margin-top: 10px;
}
td span{
    display: flex;
}
.remove{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10px;
    left: 800px;

    /* margin-top:20px;
    margin-right: 50px; */
}

.remove img{
    height:30px ;
    width: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
   margin-top: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.thead_two{
    display: none;

}
/* table end */
/* amount */
.amount{
    width: 700px;
    margin-top: 25px;
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total_amounts:last-child{
 border: 1px solid black;
 border-radius: 5px;
 background-color: rgb(0, 145, 255);
 color: white;
 padding: 10px;
}
.confirm{
    margin-left: 200px;
    margin-bottom: 30px;
    background-color: rgb(0, 145, 255);
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.continue button{
    height: 60px;
    width: 200px;
    color: white;
    background-color: rgb(0, 145, 255);
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    margin-left: 1200px;
}
/* amount end */
.h_three{
    font-size: 25px;
    font-weight: bold;
}
.h_five{
    font-weight: bold;
    font-size: 20px;
}
.h_two{
    font-weight: bold;
    font-size: 30px;
}

#empty{
    margin-left: 550px;
    display: none;
}
