
aside{
    width: 15%;
    height: 2100px;
    float: left;
    border-right: 1px solid grey;
}
aside ul{
    margin-top: 60px;
}
aside ul li a{
    text-decoration: none;
    font-size: 25px;
 color: black;
}
.drop_down{
    display: block;
    position: absolute;
    top: 380px;
    left: 0;
    line-height: 45px;
}
.drop_down ul{
    display: block;
    margin: 10px;
}
.drop_down ul li{
    padding: 5px;
    width: 200px;
}
.filter{
    position: absolute;
    top: 800px;
}
.filter a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.filter .drop_down{
    position: absolute;
    top: 100px;
    line-height: 45px;
}
main{
display: flex;
justify-content: space-around;
flex-direction: column;
}
.fav img{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 27px;
    right: 55px;
}
.main_side{
    width: 350px;
    height: 400px;
    background-color: whitesmoke;
    position: relative;
    border-radius: 10px;
}
main .eg p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    color: #7085a3;
} 
   

main .eg .creation span{
    color: white;
}
main .eg .line{
    height: 0.5px;
    width: 100%;
    background-color: #293b53;
}
main .eg .creation{
    display: flex;
    margin-top: 15px; 
    justify-content: space-around;
}
main .eg .creation img{
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
    border-radius: 50%; 
    border: 1px solid white;
    margin-right: 15px;
}
main .eg{
    position: absolute;
    top: 270px;
    padding: 20px;
} main .eg .creation p{
    margin-top: 5px;
    font-size: 14px;
    margin-right: 50px;
}
main .main_img img{
    height: 265px;
    width: 265px;
    border-radius: 10px;
    margin-left: 18px;
    margin-top: 20px;
}
.eg i{
   color: gold;

}
.main_side:hover{
    box-shadow: 10px 2px 20px black;
}
.fil_sort p{
    font-size: 20px;
    font-weight: bold;
}
