
body{
    background-color: snow;
}
.large_img img{
    height: 500px;
    width: 600px;
    border-radius: 20px;
    border: 5px solid black;
}
main{
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    height: 100%;
}
.product_detail{
   line-height: 50px;
}
.product_detail span{
    margin-left: 35px;
}
.product_detail i{
    color: gold;
}
.btn{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 50px;
}
button{
    height: 50px;
    width: 150px;
    border-radius:5px ;
    background-color: rgb(0, 145, 255);
    color: white;
    font-size: 20px;
}
#signa{
    font-size: 40px;
    font-weight: bold;
}
.h_three{
    font-size: 20px;
    font-weight: bold;
}