.choose img{
    width: 400px;
    margin-left: 480px;
}
.h_three{
    font-weight: bold;
    font-size: 30px;
}
.left_eye{
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
}
input{
    width: 50px;
    margin-top: 500px;
}
label{
    font-size: 25px;
}
button{
    width: 200px;
    height: 60px;
    background-color: #50bcbc;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 1200px;
}