body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
width: 800px;
height: 600px;
border-radius: 30px;
margin-left: 25%;

}
i{
    margin-left: 600px;
}
.lens_feature{
 
      display: flex;
      justify-content: center;
      align-items: center;
   
}
img{
    width: 30px;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin-left: 180px;
    color: white;
    background-color:  rgb(0, 145, 255);
}